ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    height: 78px;
    width: auto;
    align-items: center;
}
ul li{
    
    padding: 20px 15px;
    
}
ul li a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: black;
    letter-spacing: 0.03em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
ul li a:hover{
    font-size: 1.2rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
    color:  rgb(212, 212, 11) ;
}
.active{
    color: rgb(212, 212, 11) !important;
}
