
.parent{
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;   
    position: relative;
    z-index: 2;
}
.parent::before{
    position: absolute;
    content: "";
    height: 42vh;
    width: 100vw;
    background-color: rgb(95, 120, 95);
    z-index: -1;
    top: -10vh;
}
form{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    margin-bottom: 10px;
}
form div input, form div select{
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    border-radius: 10px;
    margin-left: 20px;
    border: 2px solid rgb(202, 202, 202);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 10px;
    outline: none;
}
form div select{
    min-width: 300px;
}
form div input:focus, select:focus{
    border: 2px solid rgb(154, 144, 144);
}
form div input:hover, select:hover{
    border: 2px solid rgb(212, 212, 11);
}
form div input::placeholder, select::placeholder{
    font-style: italic;
    font-size: 15px;
    font-weight:500;
}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn button{
    width: 100%;
    border-radius: 10px;
    margin-left: 20px;
    border: 2px solid rgb(212, 212, 11);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 10px;
    min-height: 50px;
    background-color: rgb(212, 212, 11);
    color: black;
    font-size: large;
    font-weight: bold;
}
.btn button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.122);
    background-color: white;
    color: rgb(212, 212, 11);
}